
## Content-Based Recommender Systems
## Nearest Neighbors Algorithm

In [23]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.neighbors import NearestNeighbors

*mtcars dataset source:* 
Henderson and Velleman (1981), Building multiple regression models interactively. Biometrics, 37, 391â€“411.

In [7]:
cars = pd.read_csv("/content/mtcars.csv")
cars.columns = ['car_names', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
cars.head()

           car_names   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

Below variable t is specification of the car which means that the user wants the car that has 15 mpg, 3.2 tons of weight, displacement size of 300 and 160 horsepower.

In [11]:
t = [15, 300, 160, 3.2]
x = cars.loc[:,("mpg","disp", "hp", "wt")].values
x[0:5]

array([[ 21.   , 160.   , 110.   ,   2.62 ],
       [ 21.   , 160.   , 110.   ,   2.875],
       [ 22.8  , 108.   ,  93.   ,   2.32 ],
       [ 21.4  , 258.   , 110.   ,   3.215],
       [ 18.7  , 360.   , 175.   ,   3.44 ]])

In [12]:
nbrs = NearestNeighbors(n_neighbors=1).fit(x)

In [28]:
result = nbrs.kneighbors([t])
print(result)

(array([[10.77474942]]), array([[22]]))

The index 22 is the recommendation.

## Showing the car details of index 22

In [21]:
cars.loc[result[1][0]]

      car_names   mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
22  AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.3   0   0     3     2

So we recommend the user to look into AMC Javelin which is the most similar car with the user specification.