In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.decomposition import TruncatedSVD

The MovieLens dataset was collected by the GroupLens Research Project at the University of Minnesota. You can download the dataset for this demostration at the following URL: https://grouplens.org/datasets/movielens/100k/

### Preparing the data

In [17]:
column = ['user_id', 'item_id', 'rating', 'timestamp']
frame = pd.read_csv('/content/drive/MyDrive/ml-100k/u.data', sep='\t', names=column)
frame.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [18]:
columns = ['item_id', 'movie title', 'release date', 'video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
          'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
          'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

movies = pd.read_csv('/content/drive/MyDrive/ml-100k/u.item', sep="|", names=columns, encoding='latin-1')
movies_names = movies[['item_id',  'movie title']]
movies_names.head()

   item_id        movie title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [19]:
combined_movies_data = pd.merge(frame, movies_names, on='item_id')
combined_movies_data.head()

   user_id  item_id  rating  timestamp   movie title
0      196      242       3  881250949  Kolya (1996)
1       63      242       3  875747190  Kolya (1996)
2      226      242       5  883888671  Kolya (1996)
3      154      242       3  879138235  Kolya (1996)
4      306      242       5  876503793  Kolya (1996)

In [20]:
combined_movies_data.groupby('item_id')['rating'].count().sort_values(ascending=False).head()

item_id
50     583
258    509
100    508
181    507
294    485
Name: rating, dtype: int64

In [23]:
filter = combined_movies_data['item_id'] == 50
combined_movies_data[filter]['movie title'].unique()

array(['Star Wars (1977)'], dtype=object)

In [25]:
rating_crosstab = combined_movies_data.pivot_table(values="rating", index="user_id", columns="movie title", fill_value=0)
rating_crosstab.head()

movie title  'Til There Was You (1997)  ...  Á köldum klaka (Cold Fever) (1994)
user_id                                 ...
1                                    0  ...                                   0
2                                    0  ...                                   0
3                                    0  ...                                   0
4                                    0  ...                                   0
5                                    0  ...                                   0

[5 rows x 1664 columns]

In [26]:
rating_crosstab.shape

(943, 1664)

In [27]:
x = rating_crosstab.T
x.shape

(1664, 943)

In [29]:
SVD = TruncatedSVD(n_components=12, random_state=17)
resultant_matrix = SVD.fit_transform(x)
resultant_matrix.shape

(1664, 12)

In [30]:
corr_mat = np.corrcoef(resultant_matrix)
corr_mat.shape

(1664, 1664)

In [35]:
movies_names = rating_crosstab.columns
movie_list = list(movies_names)
star_wars = movie_list.index("Star Wars (1977)")
print(star_wars)

1398

In [36]:
corr_star_mat = corr_mat[star_wars]
corr_star_mat.shape

(1664,)

# Recommending Highly Correlated Movie

In [37]:
list(movies_names[(corr_star_mat < 1.0) & (corr_star_mat > 0.9 )])

['Die Hard (1988)',
 'Empire Strikes Back, The (1980)',
 'Fugitive, The (1993)',
 'Raiders of the Lost Ark (1981)',
 'Return of the Jedi (1983)',
 'Terminator 2: Judgment Day (1991)',
 'Terminator, The (1984)',
 'Toy Story (1995)']

In [38]:
list(movies_names[(corr_star_mat < 1.0) & (corr_star_mat > 0.95 )])

['Return of the Jedi (1983)']